<!--HEADER-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand logo-container" routerLink="/">
            <img src="assets/logos/bike-shopping-logo.png" alt="Logo" class="logo-img">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products">
                        <fa-icon [icon]="faBoxOpen"></fa-icon> Prodotti
                    </a>
                </li>
                <li class="nav-item position-relative">
                    <a class="nav-link" routerLink="/cart">
                        <fa-icon [icon]="faShoppingCart"></fa-icon> Carrello
                        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                            {{ (cartCount$ | async) ?? 0 }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>